<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="caminho_json" value="C:\Users\Pichau\Documents\_Rafael\Cursos\dotNET\Escola\Dados\alunos.json" />
    <add key="conexao_sql" value="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Escola2;Integrated Security=True" />
  </appSettings>
</configuration>